{% extends "layout.html.twig" %}

{% block titreh1 %}Mon CV{% endblock %}

{% block content %}
    <div class="twelve columns offset-by-one content">
    <p>Je suis un brillant étudiant de la LP qui a plein de chose à dire sur lui-même : ses compétences, son parcours professionnel et universitaire, ...</p>
    </div>
{% endblock %}
