<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>LP - Cours Symfony2</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>



<!-- Primary Page Layout
================================================== -->

<!-- Delete everything in this .container and get started on your own site! -->

<div class="container">

    <h1>{% block titreh1 %}Cours LP :){% endblock %}</h1>

    {% for message in app.session.getFlashBag.get('message') %}
        <h3>{{ message }}</h3>
        <br/>
    {% endfor %}

    <div class="three columns sidebar">
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/cv">CV</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/realisations">Réalisations</a></li>
            </ul>
        </nav>
        &nbsp;
    </div>

    {% block content %}{% endblock %}
</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>